@import './variable.styl'

/* ***********
  Reset Style
  ************** */
html
  font-size 15px
  font-family Noto Sans Korean

html, body
  margin 0
  padding 0
  -webkit-overflow-scrolling touch

*
  box-sizing border-box

ol, ul
  list-style none
  padding 0
  margin 0

input:focus
button:focus
  outline 0

iframe
  max-width 100%

video
  max-width 600px
  max-height 400px


#app
  text-align left

.container
  width 1200px
  margin 0 auto
  position relative
  padding-top 102px

.pc-wrapper
  margin-top 100px

.mobile-wrapper
  margin-top 50px
  padding-bottom 50px

.unselect
  cursor pointer
  user-select none

.flex-align
  display flex
  align-items center

.wrap
  flex-wrap wrap

.flex-center
  display flex
  align-items center
  justify-content center

.flex-between
  display flex
  align-items center
  justify-content space-between

.full-width
  width 100%


.size-10
  font-size 10px

.size-11
  font-size 11px

.size-12
  font-size 12px

.size-13
  font-size 13px

.size-14
  font-size 14px

.size-15
  font-size 15px

.size-16
  font-size 16px

.size-17
  font-size 17px

.size-18
  font-size 18px

.size-19
  font-size 19px

.size-20
  font-size 20px

.size-21
  font-size 21px

.size-22
  font-size 22px

.size-23
  font-size 23px

.size-24
  font-size 24px

.size-25
  font-size 25px

.size-26
  font-size 26px

.size-27
  font-size 27px

.size-28
  font-size 28px

.size-29
  font-size 29px

.size-30
  font-size 30px


.col-6
  width 20%
.col-3
  width 25%
.col-4
  width 33.3%
.col-6
  width 50%
.col-8
  width 66.6%
.col-9
  width 75%
.col-12
  width 100%

.btn-save
  margin-top 12px
  border 1px solid #777
  text-align center
  padding 12px