$primary   = #ff5722
$point     = #ebab39
$secondary = #26A69A
$tertiary  = #555

$grey      = #989898
$font       = #363636
$background   = #f2f7f8
$darkgrey  = #5a5a5a
$warmgrey   = #dbdbdb
$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$page-width = 1200px


// UI Builder
//$left-menu = 280px
//$mobileW = 360px
//$mobileH = 592px
//$mobileT = 154px
//$mobileL = 502px
//$pcW = 1200px
//$pcH = 780px
//$pcT = 134px
//$pcL = 489px

